@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Sen:400,700&display=swap');

$font-size-base: 10px;
$font-family: 'Sen',
'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;

// The main article section
.MainSection {
    @media screen and (max-width: 769px) {
        padding: 0;
    }
}

// Columns splitting up the article into body and sidebar
.Columns {
    @media screen and (max-width: 769px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

// Contains title and feature image
.FrontmatterContainer {
    position: relative;
}

.Title {
    @media (max-width: 769px) {
        font-size: calc(#{$font-size-base} + 4vw);
    }

    @media (min-width: 770px) {
        font-size: calc(#{$font-size-base} + 2vw);
    }

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vmin;
    max-width: 90%;
    background-color: darken(#F5F5F5, 70%);
    border-radius: 0px 15px 0px 0px;
    overflow: hidden;
    color: #EAAA03;

}

// Markdown body
.Markdown {

    font-family: $font-family;
    font-size: calc(#{$font-size-base} + 1vmin);
    word-wrap: break-word;

    h2 {
        font-size: calc(#{$font-size-base} + 1.8vw);
        color: darken(#f5f5f5, 50%);
        display: inline-block;
    }

    h3 {
        font-size: calc(#{$font-size-base} + 1.5vw);
        color: darken(#f5f5f5, 20%);
        display: inline-block;
    }

    p {
        line-height: calc((#{$font-size-base} + 1vmin) * 1.6);
        margin-bottom: 3vmin;
    }

    a {
        color: #EAAA03;

    }

    p,
    ul {
        code {
            background-color: rgb(231, 224, 224);
            color: rgb(53, 142, 184);
            padding: 5px;
            border-radius: .3em;
        }
    }

    pre {
        position: relative;
        
        button {
            position: absolute;
            top: 0;
            right: 0; 
        }
    }

    blockquote {
        color: darken($color-fg-primary, 30%);
        font-style: italic;
        padding-left: 1em;
        border-left: 1px solid rgb(208, 212, 216);

        p {
            font-size: calc(#{$font-size-base} + .8vmin);
            line-height: calc((#{$font-size-base} + .8vmin) * 1.4);
            margin: 0;
        }
    }

    ul {
        list-style-type: square;
    }

    li {
        padding-left: 3vmin;
    }

    figcaption {
        font-weight: 100;
        font-style: italic;
        color: lighten($color-bg-secondary, 50%);
        text-align: center;
    }
}

.SeriesNavInline {
    color: darken(rgb(209, 204, 204), 30%);
    overflow-wrap: break-word;
}

.SeriesNavInline:hover {
    color: darken(rgb(209, 204, 204), 60%);
}