@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Sen:400,700&display=swap');

.Title {
    color: $color-fg-secondary !important;
}

.markdown h1::before,
h2::before {
    content: "";
}

.markdown {

    h1,
    h2 {
        font-size: calc(12px + 2vw);
        color: $color-fg-yellow !important;
    }

    p {
        font-weight: 300;
        font-size: calc(12px + .6vw);
    }

    img {
        object-fit: contain;
        max-width: 100%;
    }
}