@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Sen:400,700&display=swap');

$font-size-base: 10px;
$font-family: 'Sen',
'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;

// Markdown body
.Markdown {

    figcaption {
        font-weight: 100;
        font-style: italic;
        color: lighten($color-bg-secondary, 50%);
        text-align: center;
    }
}

.SeriesNavInline {
    color: darken(rgb(209, 204, 204), 30%);
    overflow-wrap: break-word;
}

.SeriesNavInline:hover {
    color: darken(rgb(209, 204, 204), 60%);
}