@import '../styles/variables.scss';

.Box {
    @media (min-width: 769px) {
        height: 40vh;
    }
    @media (max-width: 769px) {
        height: 70vmin;
    }
    overflow: hidden;
    border-radius: .5vmin;
    position: relative;
}

.Image {
    object-fit: cover;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.TitleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    background-color: darken(#F5F5F5, 70%);
    border-radius: 0px 15px 0px 0px;
    overflow: hidden;
}

.Title {
    padding: 2vmin;
}