.tip-of-the-week {
    padding: 5px;

    #totw-title {
        color: #404040;
    }

    #totw-author {
        font-style: italic;
        display: inline-block;
    }

    #totw-source {
        color: #EAAA03 !important;
    }
}