@import '../styles/variables.scss';

.Unavbar {
    background-color: $color-bg-secondary;

    a:hover {
        text-decoration: none;
        color: $color-fg-yellow;
    }

    a::after {
        color: $color-fg-yellow;
    }
}

.brand {
    display: flex;
    flex-direction: column;

    img {
        align-content: center;
    }
}

.Link {
    color: #404040;
    align-self: center;
    padding-left: .5em;
    padding-right: .5em;
}

.LinkActive {
    color: $color-fg-yellow !important;
}