// @import '../styles/variables.scss';

// Need this for navburger scripting
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked~.navbar-menu {
  display: block;
}

#site-descriptor {
  font-style: italic;
}