html, body {
    height: 100%;
    background-color:#151515;
    /* background-color: whitesmoke; */
}

.Body {
    display: flex;
    flex-direction: column;
}

.Content {
    flex: 1 0 auto;
}

.Footer {
    flex-shrink: 0;
}