@import '../styles/variables.scss';

.Card {
    padding: 10px;
    background-color: #141C2A;
    text-align: center;
    a{
        color: #B0820A;
    }
}

.Card:hover {
    background-color: lighten($color-bg-secondary, 10%);
}