@import '../styles/variables.scss';

.Card {
    path {
        color: lighten(#2c2c2c, 40%);
    }
}

.Card:hover {
    background-color: darken(#DBDBDB, 10%) !important;

    path {
        color: #332329;
    }
}