@import '../styles/variables.scss';

.Card {
    padding: 10px;
    // background-color: #141C2A;
    background-color: #8F3524;
    border: 2px solid #8F3524;
    text-align: center;
    a{
        color: #B0820A;
    }
}

.Card:hover {
    background-color: lighten(#8F3524, 10%);
}