@import '../styles/variables.scss';

$p-comfort: 5px;

.TextContent {
    color: $color-fg-yellow;
    background-color: $color-bg-secondary;
}

.Title {
    padding: $p-comfort;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.Subtitle {
    display: inline-block;
    margin-top: 10px;
    padding: $p-comfort;
    font-weight: lighter;
    font-size: smaller;
    margin: 0;
}

.ImageContainer {
    position: relative;
}

.Flair {
    position: absolute;
    bottom: 0;
    left: 0;
    
    max-width: 90%;
    background-color: darken(#F5F5F5, 70%);
    color: lighten(grey, 30%);
    border-radius: 0px 15px 0px 0px;

    padding: 1vmin;
    margin: 0;
}

.Flair:hover {
    color: $color-fg-yellow
}

.Height100 {
    height: 100%;
}