@import '../styles/variables.scss';

$p-comfort: 5px;

.TextContent {
    color: $color-fg-yellow;
    background-color: $color-bg-secondary;
}

.Title {
    padding: $p-comfort;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.Subtitle {
    display: inline-block;
    margin-top: 10px;
    padding: $p-comfort;
    font-weight: lighter;
    font-size: smaller;
    margin: 0;

    color: white;
}

.CardImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin:0px;
}

.Height100 {
    height: 100%;
}